.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tile {
  position: absolute;
  width: 0.2%;
  height: 0.2%;
}

.justus {
  position: absolute;
  width: 2%;
  height: 2%;
  border-radius: 100%;
  transition: 1.5s;
  transition-timing-function: ease-out;
}

#f1 {
  top: 86.7%;
  left: 77.6%;
}

#f2 {
  top: 82%;
  left: 77.6%;
}

#f3 {
  top: 77.5%;
  left: 76.5%;
}

#f4 {
  top: 77.1%;
  left: 69%;
}

#f5 {
  top: 76.5%;
  left: 62%;
}

#f6 {
  top: 72.1%;
  left: 60.8%;
}

#f7 {
  top: 67.5%;
  left: 60.8%;
}

#f8 {
  top: 63%;
  left: 62%;
}

#f9 {
  top: 62%;
  left: 68.5%;
}

#f10 {
  top: 57.5%;
  left: 69.7%;
}

#f11 {
  top: 53.3%;
  left: 68.7%;
}

#f12 {
  top: 52.7%;
  left: 61.3%;
}

#f13 {
  top: 52.7%;
  left: 53.3%;
}

#f14 {
  top: 52.7%;
  left: 45.2%;
}

#f15 {
  top: 53.2%;
  left: 38%;
}

#f16 {
  top: 57.2%;
  left: 35.6%;
}

#f17 {
  top: 57.8%;
  left: 28.5%;
}

#f18 {
  top: 57%;
  left: 21%;
}

#f19 {
  top: 52.8%;
  left: 20%;
}

#f20 {
  top: 48%;
  left: 20%;
}

#f21 {
  top: 43.2%;
  left: 20%;
}

#f22 {
  top: 39%;
  left: 21%;
}

#f23 {
  top: 38.3%;
  left: 28.3%;
}

#f24 {
  top: 38.9%;
  left: 35.7%;
}

#f25 {
  top: 42.8%;
  left: 38%;
}

#f26 {
  top: 43.5%;
  left: 45.2%;
}

#f27 {
  top: 43.5%;
  left: 53.3%;
}

#f28 {
  top: 43%;
  left: 60.4%;
}

#f29 {
  top: 39%;
  left: 60.8%;
}

#f30 {
  top: 37.5%;
  left: 54%;
}

#f31 {
  top: 33.8%;
  left: 54%;
}

#f32 {
  top: 33.2%;
  left: 61.2%;
}

#f33 {
  top: 33.2%;
  left: 69.5%;
}

#f34 {
  top: 33.2%;
  left: 77.5%;
}

#f35 {
  top: 32.6%;
  left: 84.5%;
}

#f36 {
  top: 28.8%;
  left: 86.8%;
}

#f37 {
  top: 27.5%;
  left: 93.5%;
}

#f38 {
  top: 23.5%;
  left: 93.5%;
}

#f39 {
  top: 22.8%;
  left: 86.3%;
}

#f40 {
  top: 23.5%;
  left: 78.5%;
}

#f41 {
  top: 27.3%;
  left: 76.5%;
}

#f42 {
  top: 28%;
  left: 69.5%;
}

#f43 {
  top: 28%;
  left: 61.2%;
}

#f44 {
  top: 27.5%;
  left: 54%;
}

#f45 {
  top: 23%;
  left: 53%;
}

#f46 {
  top: 18.3%;
  left: 53%;
}

#f47 {
  top: 13.6%;
  left: 53%;
}

#f48 {
  top: 9%;
  left: 53%;
}

#f49 {
  top: 4.3%;
  left: 53%;
}
