html {
  height: 100%;
}
/* Popup style */
.fix-centered {
  position: fixed;
  transform: translate(-50%, -50%);
}

.popup {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #092087;
  width: 80%;
  height: 70%;
  left: 50%;
  top: 50%;
  border-radius: 25px;
  padding: 1em;
  text-align: center;
}

.border {
  border: #fac423 solid 0.6em;
}

.box {
  border-radius: 25px;
  background-color: #ffedb6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.question {
  padding: 0 3em 0 3em;
  height: 60%;
}

.points-dot {
  height: 3em;
  width: 3em;
  background-color: #ffedb6;
  border-radius: 50%;
  display: inline-block;
}

.one-answer-dot {
  left: 50%;
  top: 64.3%;
}

.regular-dot {
  left: 50%;
  top: 81.5%;
}
.flex-box {
  display: flex;
  height: 39%;
}

.flex-wrap {
  flex-wrap: wrap;
}

#one-answer {
  padding: 1em;
  margin-bottom: 2em;
  width: 100%;
}
#one-answer-input {
  width: 100%;
  height: 100%;
  font-size: large;
  text-align: center;
  background-color: #ffedb6;
  border: 0;
}

.polar-answer {
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: large;
}

.left {
  margin-right: 0.5em;
}
.right {
  margin-left: 0.5em;
}

.choice {
  flex: 45%;
  margin-bottom: 1em;
}

.lower {
  margin-bottom: 2em;
}
